<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap-icons.css" rel="stylesheet" type="text/css">
    <link href="/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/js/bootstrap4-editable/css/bootstrap-editable.css" type="text/css">
    <link href="/js/bootstrap-table.css" rel="stylesheet" type="text/css">
    <link href="/font/Montserrat.css" rel="stylesheet" type="text/css">

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap4-editable/js/bootstrap-editable.js"></script>
    <script src="/js/bootstrap-table.js"></script>
    <script src="/js/extensions/editable/bootstrap-table-editable.js"></script>
    <script src="/js/raphael.js"></script>
    <script src="/js/morris.js"></script>
    <script src="/js/popover-helper.js"></script>
    <script src="/js/bs-custom-file-input.js"></script>

    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        @media print {
            .no-print, .no-print * {
                display: none !important;
            }
        }
    </style>


</head>

<body>

<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar bg-dark no-print container-fluid sticky-top">

    <ul class="navbar-nav m-2">

        <li class="nav-item">
            <a class="nav-link bi bi-house-fill" href="/" title="Inicio"></a>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <a class="nav-link bi bi-list" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"> Archivo
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/generar-reporte">Generar reporte parcial</a>
                    <a class="dropdown-item" href="/">Regresar a mi grupos</a>
                    <a class="dropdown-item" href="#">Salir</a>
                </div>
            </div>
        </li>
        {{#iflogico menu '===' 0}}
            <!-- Menú de la pantalla de mis grupos-->
            <li class="nav-item">
                <a class="nav-link {{#iflogico estado '===' "3"}} active {{/iflogico}}"
                   title="Muestra todos los grupos independientemente del estado." href="/">Todos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#iflogico estado '===' "1"}} active {{/iflogico}}" href="/filtro/1"
                   title="Muestra únicamente los grupos con estado activo.">Activos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#iflogico estado '===' "0"}} active {{/iflogico}}" href="/filtro/0"
                   title="Muestra únicamente los grupos con estado inactivo.">Completados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#iflogico estado '===' "2"}} active {{/iflogico}}" href="/filtro/2"
                   title="Muestra los grupos enviados a la papelera de reciclaje."><i
                        class="bi bi-trash2-fill"></i></a>
            </li>
            <li class="nav-item">
                <a type="button" class="nav-link bi bi-gear-fill" data-toggle="modal" data-target="#configuracionModal"
                   title="Configuración"></a>
            </li>
        {{/iflogico}}
        {{#iflogico menu '===' 1}}
            <!-- Menú de la navegación del grupo-->
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/grupo-inicio/{{idgrupo}}"
                   title="Muestra el progreso general del grupo.">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Muestra la lista de alumnos que contiene el grupo."
                   href="/grupo/alumnos/{{idgrupo}}"><i class="bi bi-file-person-fill"></i> Alumnos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Muestra la lista de temas/unidades que contiene el grupo."
                   href="/grupo/temas/{{idgrupo}}"><i class="bi bi-book-fill"></i> Temas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " title="Muestra la lista de actividades por grupo o por tema."
                   href="/grupo/actividades/{{idgrupo}}"><i class="bi bi-bookmark-check-fill"></i>
                    Actividades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Muestra las calificaciones almacenadas."
                   href="/grupo/calificaciones/{{idgrupo}}"><i class="bi bi-file-spreadsheet-fill"></i>
                    Calificaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Muestra los equipos existentes."
                   href="/grupo/equipos/{{idgrupo}}"><i class="bi bi-people-fill"></i>
                    Equipos</a>
            </li>
        {{/iflogico}}

    </ul>
    <ul class="navbar-nav  ml-md-auto" >

        {{#iflogico visualizacion '===' 0}}
            <li class="nav-item">
                <a class="navbar-text">Vista:</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" href="/grupo-inicio/{{idgrupo}}" title="Genera la visualización de datos del grupo."
                   aria-current="page">General</a>

            </li>
            <li class="nav-item" >
                <a class="nav-link" href="/grupo-inicio/alumnos/{{idgrupo}}/{{tema.dataValues.id}}"
                   title="Genera la visualización de los datos de un alumno.">Individual</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="/grupo-inicio/equipos/{{idgrupo}}/{{tema.dataValues.id}}"
                   title="Genera la visualización de los datos agrupado por equipos.">Equipo</a>
            </li>
        {{/iflogico}}

    </ul>

</header>

<main class="container-fluid mw-100 mh-100 vh-100 min-vh-100 vw-100 min-vw-100 d-flex flex-column m-2 p-2">

    {{{ body }}}

</main>

</body>
</html>
