<main class="container">
    <div class="row m-2 p-3">
        <h4 class="display-4">Seleccionar Equipo</h4>
        <p>
            Seleccione el equipo que desea calificar. En caso de que la tabla se encuentre vacía es probable que no existan equipos asociados al tema de dicha actividad.
        </p>
    </div>
    <div class="row-cols-1">
        <div class="row-cols-1">
            <input type="hidden" id="valorTabla" name="valorTabla" value="{{equipos}}">
            <input type="hidden" id="idgrupo" name="idgrupo" value="{{idgrupo}}">
            <input type="hidden" id="idactividad" name="idactividad" value="{{idactividad}}">
            <input type="hidden" id="idtema" name="idtema" value="{{idtema}}">
            <input type="hidden" id="second" name="second" value={{second}}>

            <div class="col-auto navbar-nav-scroll">
                <table id="table" data-toggle="table" data-click-to-select="true"
                       data-search="true"
                       data-advanced-search="true" data-filter-control="true" name="table" data-single-select="true">
                    <thead>
                    <tr>
                        <th data-field="estado" data-sorteable="false" data-checkbox="true"></th>
                        <th data-field="nombre" data-sorteable="true">Nombre</th>
                    </tr>
                    </thead>

                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row d-flex flex-row-reverse p-2 m-2">
            <a class="btn btn-primary" type="button" id="siguiente">
                Siguiente
            </a>
            <a class="btn btn-danger" href="/grupo/actividades/{{idgrupo}}">Salir</a>
        </div>
    </div>
</main>

<script type="text/javascript">
    let table = $('#table');
    let btnSiguiente = document.getElementById('siguiente');
    let idgrupo = document.getElementById('idgrupo').value;
    let idtema = document.getElementById('idtema').value;
    let idactividad = document.getElementById('idactividad').value;
    let second = document.getElementById('second').value;
    let seleccion;

    $(function cargarDatos() {
        let equipos = document.getElementById("valorTabla").value;
        equipos = JSON.parse(equipos);

        let rowsEquipos = [];
        for (let dato = 0; dato < equipos.length; dato++) {
            rowsEquipos.push(equipos[dato]);
        }
        table.bootstrapTable('load', rowsEquipos);
        btnSiguiente.disabled = true;
    });
    table.on('check.bs.table', function (e, row) {
        seleccion = table.bootstrapTable('getSelections');
        if(second == 1){
            btnSiguiente.setAttribute('href', `/actividad/calificar-equipo/${idgrupo}/${idtema}/${idactividad}/${seleccion[0].id}/1`);
        }
        else{
            btnSiguiente.setAttribute('href', `/actividad/calificar-equipo/${idgrupo}/${idtema}/${idactividad}/${seleccion[0].id}`)
        }
        btnSiguiente.disabled = false;
        console.log(btnSiguiente.href);
    });

</script>