<title>{{asignatura}} {{clave}} - Equipos - Seguimiento de Estudiantes</title>

<div class="row m-2 p-2">
    <nav id="sideBar" class="col-md-3 col-lg-3 d-md-block bg-light sidebar"
         role="navigation">
        <div class="sidebar-sticky pt-3 nav d-flex flex-column navbar-nav-scroll nav-fill">
            <ul class="list-group  border-bottom h-auto">
                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center font-italic font-weight-bold"> Equipos <span class="badge bi bi-people-fill"> </span></li>
                {{#each equipos}}
                    <a class="list-group-item list-group-item-action button-sm"
                       href="/grupo/equipos/{{../idgrupo}}/{{dataValues.id}}">{{dataValues.nombre}}</a>
                {{/each}}
                <a class="list-group-item list-group-item-action"
                   href="/equipo/nuevo/{{idgrupo}}"><i class="bi bi-plus"></i>
                    Nuevo Equipo</a>
            </ul>
        </div>
    </nav>
    <div class="col navbar-nav-scroll">
        <div class="container">
            {{#if equipo}}
                <input type="hidden" id="idgrupo" value="{{idgrupo}}">
                <input type='hidden' id="idequipo" value="{{equipo.dataValues.id}}">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h4>Datos del equipo</h4>
                            </div>
                            <div class="col" align="right">
                                <a class="bi bi-trash-fill" data-toggle="modal"
                                   data-target="#eliminarEquipoModal"
                                   title="Eliminar el equipo."></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row-cols-1">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Nombre</span>
                                <input type="text" class="form-control" aria-label="Nombre" disabled value="{{equipo.dataValues.nombre}}">
                            </div>
                        </div>
                        <div class="row-cols-1  d-flex flex-row-reverse ">
                            <div class="col-auto d-flex flex-row-reverse p-3">
                                <div id="toolbar">
                                    <a id="remove" class="btn btn-danger" title="Elimina los alumnos seleccionados de la tabla inferior.">Eliminar seleccionados</a>
                                    <a id="add" class="btn btn-primary" title="Añade al equipo el alumno indicado en la caja de texto anterior.">Añadir alumno</a>
                                </div>
                            </div>
                        </div>
                        <div class="row-cols-1">
                            <input type="hidden" id="valorTablaTemas" name="valorTablaTemas"
                                   value="{{listaFormateadaTemas}}">
                            <table id="tableTemas" data-toggle="table">
                            <thead>
                                <tr>
                                    <th data-field="numerotema" data-sorteable="false">No. tema</th>
                                    <th data-field="nombre" data-sorteable="true">Nombre</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <div class="row-cols-1">
                            <h4>Integrantes del equipo</h4>
                        </div>
                        <div class="row-cols-1">
                            <div class="form-group mb-3">
                                <label for="inputBusqueda">Introduzca el nombre o número de control del alumno que desea agregar al equipo</label>
                                <input class="form-control" type="text" id="inputBusqueda" placeholder="No. control o Nombre del alumno iniciando por apellidos" aria-describedby="BtnBusqueda">
                            </div>
                        </div>
                        <div class="row-cols-1">
                            <input type="hidden" id="valorTablaAlumnos" name="valorTablaAlumnos"
                                   value="{{listaFormateadaAlumnos}}">
                            <table id="tableAlumnos" data-toggle="table" data-toolbar="#toolbar"
                                   data-filter-control="true" data-click-to-select="true">
                                <thead>
                                <tr>

                                    <th data-field="estado" data-sorteable="false" data-checkbox="true"></th>
                                    <th data-field="clave" data-sorteable="false">No. Control</th>
                                    <th data-field="nombre" data-sorteable="true">Nombre</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <form action="/equipo/eliminar/{{idgrupo}}/{{equipo.dataValues.id}}?_method=DELETE"
                          method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <div class="modal fade" id="eliminarEquipoModal" tabindex="-1"
                             aria-labelledby="eliminarEquipoModal"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="eliminarEquipoModalLabel">Eliminar Equipo</h5>
                                        <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </a>
                                    </div>
                                    <div class="modal-body">
                                        ¿Está seguro que desea eliminar el equipo?
                                    </div>
                                    <div class="modal-footer">
                                        <a type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            {{else}}
                <div class="jumbotron jumbotron-fluid">
                    <div class="container text-center">
                        <h2 class="lead">No existen equipos en este grupo.</h2>
                    </div>
                </div>
            {{/if}}
        </div>

    </div>
</div>
<script>
    let tableTemas = $('#tableTemas');
    let tableAlumnos = $('#tableAlumnos');

    $(function cargarDatos() {
        let listaTemas = document.getElementById("valorTablaTemas").value;
        listaTemas = JSON.parse(listaTemas);

        let rowsTemas = [];
        for (let dato = 0; dato < listaTemas.length; dato++) {
            rowsTemas.push(listaTemas[dato]);
        }
        tableTemas.bootstrapTable('load', rowsTemas);

        let listaAlumnos = document.getElementById("valorTablaAlumnos").value;
        listaAlumnos = JSON.parse(listaAlumnos);
        let rowsAlumnos = [];
        for (let dato = 0; dato < listaAlumnos.length; dato++) {
            rowsAlumnos.push(listaAlumnos[dato]);
        }
        tableAlumnos.bootstrapTable('load', rowsAlumnos);

    });
    $('#add').on('click', function (e){
        e.preventDefault();
        let data = {};
        data.datos =  document.getElementById('inputBusqueda').value;
        if(data.datos.trim() !== ''){
            const idgrupo = document.getElementById("idgrupo").value;
            const idequipo = document.getElementById('idequipo').value;
            $.ajax({
                type: "POST",
                contentType: 'application/json',
                url: `/equipo-busqueda/${idgrupo}/${idequipo}/${data.datos}`,
                success: function (data){
                    tableAlumnos.bootstrapTable('append',JSON.parse(data))
                    document.getElementById('inputBusqueda').value = '';
                },
                error: function () {
                    console.log("Error");
                }
            })
        }

    });

    $('#remove').on('click', function (e){
        e.preventDefault();
        let data = {};
        data.datos =  $.map(tableAlumnos.bootstrapTable('getSelections'), function (row){
            return row.id
        });

        const claves  = $.map(tableAlumnos.bootstrapTable('getSelections'), function (row){
            return row.clave;
        });
        if(data.datos.length !== 0){
            console.log(data.datos);
            const idgrupo = document.getElementById("idgrupo").value;
            const idequipo = document.getElementById('idequipo').value;
            $.ajax({
                type: "DELETE",
                contentType: 'application/json',
                url: `/equipo-desasociar/${idgrupo}/${idequipo}/${JSON.stringify(data.datos)}`,

                success: function (data){
                    tableAlumnos.bootstrapTable('remove',{
                        field: 'clave',
                        values: claves
                    })

                },
                error: function (){
                    console.log("Error");
                }
            })
        }
    });
</script>
