<title>{{asignatura}} {{clave}} - Equipos - Seguimiento de Estudiantes</title>
<div class="row container-fluid">
    <!-- Barra de navegación -->
    <ul class="nav nav-tabs sticky-top">
        <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/grupo-inicio/{{idgrupo}}"
               title="Muestra el progreso general del grupo.">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" title="Muestra la lista de alumnos que contiene el grupo."
               href="/grupo/alumnos/{{idgrupo}}"><i class="bi bi-file-person-fill"></i> Alumnos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" title="Muestra la lista de temas/unidades que contiene el grupo."
               href="/grupo/temas/{{idgrupo}}"><i class="bi bi-book-fill"></i> Temas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " title="Muestra la lista de actividades por grupo o por tema."
               href="/grupo/actividades/{{idgrupo}}"><i class="bi bi-bookmark-check-fill"></i>
                Actividades</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" title="Muestra las calificaciones almacenadas."
               href="/grupo/calificaciones/{{idgrupo}}"><i class="bi bi-file-spreadsheet-fill"></i>
                Calificaciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" title="Muestra los equipos existentes."
               href="/grupo/equipos/{{idgrupo}}"><i class="bi bi-people-fill"></i>
                Equipos</a>
        </li>
    </ul>
</div>
<div ></div>