<title>Mis Grupos - Seguimiento de Estudiantes</title>

    <div class="row m-2">
        <h2 class="display-5">Mis grupos {{#iflogico estado '===' "1"}}activos{{/iflogico}}
            {{#iflogico estado '===' "2"}}en papelera{{/iflogico}}
            {{#iflogico estado '===' "0"}}inactivos{{/iflogico}}</h2>
    </div>
    <div class="row m-2">
    {{#each grupos}}
        <div class="card " style="height:28rem; width: 18rem; margin-right: 5px; margin-bottom: 5px">
            {{#iflogico dataValues.estado '!=' "2"}}
                <div class="card-header d-flex flex-row-reverse">
                    <a class="bi bi-trash-fill " align="right" data-toggle="modal"
                       data-target="#eliminarGrupo{{dataValues.id}}"
                       title="Mover grupo a la papelera de reciclaje."></a>
                    <a class="bi bi-pencil-square " align="right" data-toggle="modal"
                       data-target="#editarGrupo{{dataValues.id}}" title="Editar los atributos del grupo."></a>
                </div>
            {{/iflogico}}

            <img src="/img/{{dataValues.img}}.jpeg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{dataValues.asignatura}}</h5>
                <h6>{{dataValues.periodo}}</h6>
                <h6><strong>{{dataValues.clave}}</strong></h6>

            </div>
            <div class="card-footer">
                <div class="col" align="right">
                    {{#iflogico dataValues.estado '!=' "2"}}
                        <a href="/grupo-inicio/{{dataValues.id}}" class="btn btn-primary"
                           title="Mostrar la información relacionada con el grupo.">Ver</a>
                    {{/iflogico}}
                    {{#iflogico dataValues.estado '==' "2"}}

                        <a type="button" data-toggle="modal" data-target="#restaurarGrupo{{dataValues.id}}"
                           class="btn btn-info" title="Restaura el grupo enviándolo fuera de la papelera.">Restaurar</a>
                        <a type="button" data-toggle="modal" data-target="#eliminarGrupoPerm{{dataValues.id}}"
                           class="btn btn-danger"
                           title="Eliminar permanentemente el grupo junto con los datos relacionados del mismo.">Eliminar</a>

                    {{/iflogico}}
                </div>
            </div>
        </div>
            <!--Mover a papelera de reciclaje -->
            <form action="/moverapapelera/{{dataValues.id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="modal fade" id="eliminarGrupo{{dataValues.id}}" tabindex="-1"
                     aria-labelledby="eliminarGrupo{{dataValues.id}}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="eliminarGrupoLabel">Eliminar Grupo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ¿Está seguro que desea eliminar el grupo? Se moverá a la papelera de reciclaje.
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--Eliminar permanentemente-->
            <form action="/eliminargrupo/{{dataValues.id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <div class="modal fade" id="eliminarGrupoPerm{{dataValues.id}}" tabindex="-1"
                     aria-labelledby="eliminarGrupoPerm{{dataValues.id}}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="eliminarGrupoPermLabel">Eliminar Grupo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ¿Está seguro que desea eliminar el grupo? <strong>Se eliminará permanentemente, puede
                                tardar un tiempo dependiendo de la cantidad de
                                datos relacionados.</strong>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--Restaurar de la papelera de reciclaje -->
            <form action="/restaurargrupo/{{dataValues.id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="modal fade" id="restaurarGrupo{{dataValues.id}}" tabindex="-1"
                     aria-labelledby="restaurarGrupo{{dataValues.id}}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="restaurarGrupoLabel">Eliminar Grupo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ¿Está seguro que desea restaurar el grupo? <strong>Se restaurará como grupo
                                Activo.</strong>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
                                <button type="submit" class="btn btn-info">Restaurar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="modal fade" id="editarGrupo{{dataValues.id}}" tabindex="-1"
                 aria-labelledby="editarGrupo{{dataValues.id}}"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editarGrupoLabel">Editar Grupo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ¿Está seguro que desea editar el grupo?
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-secondary" data-dismiss="modal">No</a>
                            <a class="btn btn-primary" href="/grupo/editar/{{dataValues.id}}">Sí</a>
                        </div>
                    </div>
                </div>
            </div>

        {{else}}
        <div class="card" style="height:28rem; width: 18rem; margin-right: 5px; margin-bottom: 5px">
            <div class="card-body">
                {{#iflogico estado '!=' 2}}
                    <h5 class="card-title text-center">No hay grupos existentes.</h5>
                    <p class="card-text text-center">Agregue un grupo.</p>
                {{else}}
                    <h5 class="card-title text-center">No hay grupos en la papelera de reciclaje.</h5>

                {{/iflogico}}
            </div>
        </div>
        {{/each}}
        {{#iflogico estado '!=' 2}}
            <div class="card" style="height:28rem; width: 18rem; margin-right: 5px">
                <div class="card-body justify-content-center align-center">

                    <div class="row text-center align-items-center">
                        <h5 class="card-title">Agregar nuevo grupo</h5>
                    </div>
                    <div class="row justify-content-md-center align-items-center">
                        <a class="btn btn-success rounded-circle " href="/grupo/wizard-crear-grupo"
                           title="Agregar un nuevo grupo.">+</a>
                    </div>
                </div>
            </div>
        {{/iflogico}}
    </div>

    <form action="/set-config?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <div class="modal fade" id="configuracionModal" tabindex="-1" aria-labelledby="configuracionModal"
             aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="configuracionModalLabel">Configuración</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row p-2">
                                <h4>Mis datos personales</h4>

                            </div>
                            <div class="row">
                                <div class="dropdown-divider"></div>
                            </div>
                            <div class="row m-1">
                                <label class="form-label" id="etiquetaNombre" for="nombre">Nombre</label>
                                <input type="text" class="form-control" aria-describedby="etiquetaNombre" id="nombre" name="nombre"
                                       value="{{config.nombre}}">
                            </div>
                            <div class="row m-1">
                                <label class="form-label" id="etiquetaClave" for="clave">Clave</label>
                                <input type="text" class="form-control" aria-describedby="etiquetaClave" id="clave" name="clave"
                                       value="{{config.clave}}">
                            </div>
                            <div class="row m-1">
                                <label class="form-label" id="etiquetaCorreo" for="correo">Correo</label>
                                <input type="email" class="form-control" aria-describedby="etiquetaCorreo" id="correo" name="correo"
                                       value="{{config.correo}}">
                            </div>

                            <div class="row p-2">
                                <h4>Configuraciones</h4>
                            </div>
                            <div class="row">
                                <div class="dropdown-divider"></div>
                            </div>
                            <h5>Cálculo de calificaciones</h5>
                            <div class="input-group" name="calfi" value="{{config.califi}}">
                                <div class="row m-1">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value=0 id="calfi1"
                                               name="calfi" {{#iflogico config.califi "===" "0"}} checked {{/iflogico}}>
                                        <label class="form-check-label" for="calfi1">Todas las actividades deben estar aprobadas para
                                            promediarse.</label>
                                    </div>
                                </div>
                                <div class="row m-1">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value=1 id="calfi2"
                                               name="calfi" {{#iflogico config.califi '===' "1"}} checked {{/iflogico}}>
                                        <label class="form-check-label" for="calfi2">Promediar todas las actividades sin
                                            importar si
                                            una o
                                            más no están aprobadas.</label>
                                    </div>
                                </div>
                            </div>

                            <h5>Formación de equipos</h5>
                            <div class="row m-1">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value=0 id="valequipo1"
                                           name="valequipo" {{#iflogico config.valequipo "===" "0"}} checked {{/iflogico}}>
                                    <label class="form-check-label" for="valequipo1">Los alumnos pueden ser parte de uno o más equipos en un mismo tema.</label>
                                </div>
                            </div>
                            <div class="row m-1">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value=1 id="valequipo2"
                                           name="valequipo" {{#iflogico config.valequipo '===' "1"}} checked {{/iflogico}}>
                                    <label class="form-check-label" for="valequipo2">Los alumnos solo pueden ser parte de un equipo por tema.</label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
                        <button type="submit" class="btn btn-success">Aplicar</button>
                    </div>
                </div>

            </div>
        </div>
    </form>


