<title>Mis Grupos - Seguimiento de Estudiantes</title>
<div class="container-fluid p-2  h-100" style="height: max-content">
    <ul class="nav nav-tabs ">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Todos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/filtro/1">Activos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/filtro/0">Completados</a>
        </li>
    </ul>

    <div class="row m-2 p-2">
        <h2>Mis Grupos</h2>
    </div>
    <div class="row m-2 p-2">
        {{#each grupos}}
            <div class="col-md-3 col-3 col-xl-3 col-lg-3 col-sm-3 p-1" >
                <div class="card " style="height:28rem; ">
                    <div class="card-header d-flex flex-row-reverse">
                        <a class="bi bi-trash-fill " align="right" href="/abortar-grupo/{{dataValues.id}}"></a>
                        <a class="bi bi-pencil-square " align="right" href="#"></a>
                    </div>

                    <img src="/img/{{dataValues.img}}.jpeg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{dataValues.asignatura}}</h5>
                        <h6>{{dataValues.periodo}}</h6>
                        <h6><strong>{{dataValues.clave}}</strong></h6>

                    </div>
                    <div class="card-footer">
                        <a href="/grupo-inicio/{{dataValues.id}}" class="btn btn-primary">Ver</a>
                    </div>
                </div>
            </div>

        {{else}}
            <div class="col-md-3 col-3 col-xl-3 col-lg-3 col-sm-3 p-1">
                <div class="card" style="height:28rem ">
                    <div class="card-body">
                        <h5 class="card-title">No hay grupos existentes.</h5>
                        <p class="card-text">Agregue un grupo.</p>
                    </div>
                </div>
            </div>
        {{/each}}
        <div class="col-md-3 col-3 col-xl-3 col-lg-3 col-sm-3 p-1">
            <div class="card" style="height:28rem; ">
                <div class="card-body justify-content-center align-center">

                    <div class="row justify-content-center align-items-center">
                        <h5 class="card-title">Agregar nuevo grupo</h5>
                    </div>
                    <div class="row justify-content-md-center align-items-center">
                        <a class="btn btn-success rounded-circle " href="/grupo/wizard-crear-grupo">+</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="eliminarGrupo" tabindex="-1" aria-labelledby="eliminarGrupo" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminarGrupoLabel">Eliminar Grupo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Está seguro que desea eliminar el grupo? Se moverá a la papelera de reciclaje.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editarGrupo" tabindex="-1" aria-labelledby="editarGrupo"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editarGrupoLabel">Editar Grupo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Está seguro que desea editar el grupo?
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-secondary" data-dismiss="modal">No</a>
                    <button type="submit" class="btn btn-primary">Sí</button>
                </div>
            </div>
        </div>
    </div>

</div>