<title>Calificar en equipo - {{actividad.dataValues.nombre}}</title>
<main class="container">
    <div class="row m-2 p-3">
        <h2 class="display-4">Calificar Actividad</h2>
    </div>
    <div class="row-cols-1  d-flex flex-row-reverse">
        <div class="col-auto d-flex flex-row-reverse p-3">
            <div id="toolbar">
                <h4>{{actividad.dataValues.nombre}}</h4>
                <h6>Valor de la actividad: {{actividad.dataValues.valor}}</h6>
                <p>{{actividad.dataValues.descripcion}}</p><br>
            </div>
        </div>
    </div>

    {{#iflogico opcion "==" "0"}}
        <form>
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" id="valorTabla" name="valorTabla" value="{{listaFormateada}}">
            <div class="col-auto">
                <table id="table" class="table table-striped" data-toggle="table" data-toolbar="#toolbar"
                       data-click-to-select="false"
                       data-search="true"
                       data-search-text="" data-filter-control="true">
                    <thead>
                    <tr>
                        <th data-field="nombre" data-sorteable="true">Nombre del Equipo</th>
                        <th data-field="calificacion" id="calificacion" data-editable="true" data-editable-type="number"
                            data-editable-min="0" data-editable-max="100">Calificación
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <div class="row p-3 d-flex flex-row-reverse">
                <button class="btn btn-primary" type="submit" id="finalizar">Finalizar</button>
                <a class="btn btn-danger" href="/grupo/actividades/{{idgrupo}}/{{idtema}}/{{actividad.dataValues.id}}">Cancelar</a>
            </div>
        </form>
    {{else}}
        <form>

        </form>
    {{/iflogico}}
</main>