<title>{{asignatura}} {{clave}} - Actividades - Seguimiento de Estudiantes</title>

<!-- Barra de navegación -->
<div class="row container-fluid">
    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/grupo-inicio/{{idgrupo}}"
               title="Muestra el progreso general del grupo.">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" title="Muestra la lista de alumnos que contiene el grupo."
               href="/grupo/alumnos/{{idgrupo}}"><i class="bi bi-file-person-fill"></i> Alumnos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" title="Muestra la lista de temas/unidades que contiene el grupo."
               href="/grupo/temas/{{idgrupo}}"><i class="bi bi-book-fill"></i> Temas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" title="Muestra la lista de actividades por grupo o por tema."
               href="/grupo/actividades/{{idgrupo}}"><i class="bi bi-bookmark-check-fill"></i>
                Actividades</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " title="Muestra las calificaciones almacenadas."
               href="/grupo/calificaciones/{{idgrupo}}"><i class="bi bi-file-spreadsheet-fill"></i>
                Calificaciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" title="Muestra los equipos existentes."
               href="/grupo/equipos/{{idgrupo}}"><i class="bi bi-people-fill"></i>
                Equipos</a>
        </li>
    </ul>
</div>
<div class="row m-2 p-2">

    <nav id="sideBar" class="col-md-3 col-lg-3 d-md-block bg-light sidebar"
         role="navigation">
        <div class="sidebar-sticky pt-3 nav d-flex flex-column navbar-nav-scroll nav-fill">
            <ul class="list-group  border-bottom h-auto">
                {{#each datos}}
                    <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center font-italic font-weight-bold">{{tema.numerotema}}. {{tema.nombre}}<span class="badge bi bi-book-fill"> </span></li>
                    {{#each actividades}}
                        <a class="list-group-item list-group-item-action button-sm" href="/grupo/actividades/{{../../idgrupo}}/{{../tema.id}}/{{dataValues.id}}">{{dataValues.nombre}}</a>
                    {{/each}}
                    <a class="list-group-item list-group-item-action"
                       href="/actividad/nueva-actividad/{{../idgrupo}}/{{tema.id}}"><i class="bi bi-plus"></i>
                        Nueva Actividad</a>
                {{/each}}
            </ul>
        </div>
    </nav>
    <div class="col">
        <div class="container bg-white">
            {{#if actividad}}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h4>Datos de la actividad</h4>
                            </div>
                            <div class="col-11" align="right">
                                <div class="custom-control custom-switch" title="Habilitar edición de la actividad.">
                                    <input type="checkbox" class="custom-control-input" id="switchEditar">
                                    <label class="custom-control-label" for="switchEditar">Editar</label>
                                </div>
                            </div>
                            <div class="col" align="right">
                                <a class="bi bi-trash-fill" data-toggle="modal"
                                   data-target="#eliminarActividadModal"
                                   title="Eliminar actividad del tema/unidad."></a>
                            </div>
                        </div>

                    </div>
                    <!--Inicio Form -->
                    <form action="/actividad/editar-actividad/{{idgrupo}}/{{idtema}}/{{actividad.dataValues.id}}?_method=PUT"
                          method="POST" class="needs-validation">
                        <input type="hidden" name="_method" value="PUT">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <label for="nombre" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre"
                                           disabled value="{{actividad.dataValues.nombre}}" required>
                                </div>
                                <div class="col">
                                    <label for="valor">Valor</label>
                                    <input type="number" min="1" max="100" class="form-control" id="valor"
                                           name="valor"
                                           disabled value="{{actividad.dataValues.valor}}" required>
                                </div>
                                <div class="col">
                                    <div class="col">
                                        <label for="tipoBox" class="form-label">Categoría</label>
                                        <select class="custom-select" name="tipoBox" disabled id="tipoBox" required>
                                            {{#select tipoActividad}}
                                                <option value="Investigación">Investigación</option>
                                                <option value="Presentación">Presentación</option>
                                                <option value="Proyecto">Proyecto</option>
                                                <option value="Reporte / Práctica">Reporte / Práctica</option>
                                                <option value="Resumen">Resumen</option>
                                                <option value="Mapa Conceptual">Mapa Conceptual</option>
                                                <option value="Cuadro Sinoptico">Cuadro Sinoptico</option>
                                                <option value="Mapa Mental">Mapa Mental</option>
                                                <option value="Ejercicios">Ejercicios</option>
                                                <option value="Examen">Examen</option>
                                                <option value="Otros">Otros</option>
                                            {{/select}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-0 p-0">
                                <label for="descripcion">Descripción</label>
                                <textarea type="text" class="form-control"
                                          disabled id="descripcion"
                                          name="descripcion" required>{{actividad.dataValues.descripcion}}</textarea>
                            </div>
                        </div>
                        <!-- Modal para verificar la edición-->
                        <div class="modal fade" id="editarActividadModal" tabindex="-1"
                             aria-labelledby="editarActividadModal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editarActividadModalLabel">Editar actividad</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Está seguro que desea editar la actividad?
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-secondary" data-dismiss="modal">No</a>
                                        <button type="submit" class="btn btn-primary">Sí</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Cierre Form -->
                    </form>
                    <div class="card-footer">
                        <div class="align-content-md-end">
                            <a class="btn btn-outline-primary" type="button" name="calificar" id="calificar"
                               data-toggle="modal" data-target="#calificarModal">Calificar</a>
                            <button class="btn btn-primary" type="submit" name="guardar" id="guardar"
                                    data-toggle="modal" disabled
                                    data-target="#editarActividadModal">Guardar
                            </button>
                        </div>
                    </div>
                    <form action="/actividad/eliminar-actividad/{{idgrupo}}/{{actividad.dataValues.idtema}}/{{actividad.dataValues.id}}?_method=DELETE"
                          method='POST'>
                        <input type="hidden" name="_method" value="DELETE">
                        <div class="modal fade" id="eliminarActividadModal" tabindex="-1"
                             aria-labelledby="eliminarActividadModal"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="eliminarActividadModalLabel">Eliminar actividad</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Está seguro que desea eliminar la actividad? Se eliminará permanentemente.
                                    </div>
                                    <div class="modal-footer">
                                        <a type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            {{else}}
                <div class="jumbotron jumbotron-fluid">
                    <div class="container text-center">
                        <p class="lead">
                            <h2>Seleccione una actividad para mostrar más información.</h2>
                        </p>
                    </div>
                </div>

            {{/if}}
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="calificarModal" tabindex="-1" aria-labelledby="calificarModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="calificarModalLabel">Calificar actividad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Seleccione la forma en la que desea calificar la actividad.
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</a>
                <a type="button" class="btn btn-primary"
                   href="/actividad/calificar-individual/{{idgrupo}}/{{idtema}}/{{actividad.dataValues.id}}">Individual</a>
                <a type="button" class="btn btn-primary" href="/equipo/seleccion/{{idgrupo}}/{{idtema}}/{{actividad.dataValues.id}}">Por equipo</a>
            </div>
        </div>
    </div>
</div>


<script>
    document.getElementById('switchEditar').onclick = function () {
        if ($(this).is(':checked')) {
            document.getElementById('nombre').disabled = false;
            document.getElementById('valor').disabled = false;
            document.getElementById('descripcion').disabled = false;
            document.getElementById('tipoBox').disabled = false;
            document.getElementById('guardar').disabled = false;
        } else {
            document.getElementById('nombre').disabled = true;
            document.getElementById('valor').disabled = true;
            document.getElementById('descripcion').disabled = true;
            document.getElementById('tipoBox').disabled = true;
            document.getElementById('guardar').disabled = true;
        }
    }

</script>