<title>{{asignatura}} {{clave}} - Alumnos - Seguimiento de Estudiantes</title>
<!-- Barra de navegación -->
<div class="row container-fluid sticky-top">
    <ul class=" nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/grupo-inicio/{{idgrupo}}"
               title="Muestra el progreso general del grupo.">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" title="Muestra la lista de alumnos que contiene el grupo."
               href="/grupo/alumnos/{{idgrupo}}"><i class="bi bi-people-fill"></i> Alumnos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" title="Muestra la lista de temas/unidades que contiene el grupo."
               href="/grupo/temas/{{idgrupo}}"><i class="bi bi-book-fill"></i> Temas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " title="Muestra la lista de actividades por grupo o por tema."
               href="/grupo/actividades/{{idgrupo}}"><i class="bi bi-bookmark-check-fill"></i>
                Actividades</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " title="Muestra las calificaciones almacenadas."
               href="/grupo/calificaciones/{{idgrupo}}"><i class="bi bi-file-spreadsheet-fill"></i>
                Calificaciones</a>
        </li>
    </ul>
</div>
<!-- Contenido de la vista -->
<main class="row m-2 p-2 flex-grow-1 flex-shrink-0">
    <nav id="sideBar" class="col-md-3 col-lg-3 d-md-block bg-light sidebar"
         role="navigation">
        <div class="sidebar-sticky pt-3 nav d-flex flex-column navbar-nav-scroll nav-fill">
            <div class="list-group list-group-flush border-bottom h-auto">
                {{#each alumnos}}
                    <a type="button" class="list-group-item list-group-item-action" aria-current="true"
                       href="/grupo/alumnos/{{../idgrupo}}/{{dataValues.clave}}">
                        <i class="bi-person-badge-fill"></i><strong>{{dataValues.clave}}</strong>
                        - {{dataValues.apellidos}} {{dataValues.nombre}}
                    </a>
                {{/each}}
                <a type="button" class="list-group-item list-group-item-action align-items-center"
                   aria-current="true" href="/alumno/wizard-agregar-alumnos-manual/{{idgrupo}}/1">
                    <i class="bi bi-plus-circle-fill"></i> Nuevo Alumno
                </a>
            </div>
        </div>
    </nav>

    <div class="col col-lg col-md col-sm col-xl navbar-nav-scroll nav-fill">
        {{#if alumno}}
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h4><i class="bi bi-file-person-fill"></i> Datos del Alumno</h4>
                                </div>
                                <div class="col-11" align="right">
                                    <div class="custom-control custom-switch"
                                         title="Habilitar edición del alumno.">
                                        <input type="checkbox" class="custom-control-input" id="switchEditar">
                                        <label class="custom-control-label" for="switchEditar">Editar</label>
                                    </div>
                                </div>
                                <div class="col" align="right">
                                    <a class="bi bi-trash-fill" href="#" data-toggle="modal"
                                       data-target="#eliminarAlumno" title="Desasociar alumno del grupo."></a>
                                </div>
                            </div>
                        </div>
                        <form action="/grupo/alumnos/{{idgrupo}}/{{alumno.dataValues.id}}?_method=PUT"
                              method="POST"
                              novalidate>
                            <input type="hidden" name="_method" value="PUT">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">

                                        <label for="nombre" class="form-label col-form-label-sm">Apellidos y
                                            Nombre(s)</label>
                                        <input type="text" class="form-control form-control-sm" disabled
                                               id="nombre"
                                               name="nombre"
                                               id="nombre" value="{{alumno.dataValues.nombre}}">

                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col col-xl col-lg col-sm col-md">
                                        <label for="clave" class="form-label col-form-label-sm">Clave</label>
                                        <input type="text" class="form-control form-control-sm" disabled
                                               id="clave"
                                               name="clave" id="clave"
                                               value="{{alumno.dataValues.clave}}">
                                    </div>
                                    <div class="col col-xl col-lg col-sm col-md">
                                        <label for="correo"
                                               class="form-label col-form-label-sm disabled">Correo</label>
                                        <input type="email" id="correo" name="correo" id="correo"
                                               class="form-control form-control-sm" disabled
                                               value="{{alumno.dataValues.correo}}">
                                    </div>
                                </div>
                            </div>

                            <!--MODAL PARA EDITAR LOS DATOS DE UN ALUMNO-->
                            <div class="modal fade" id="editarAlumno" tabindex="-1"
                                 aria-labelledby="editarAlumno"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editarAlumnoLabel">Editar Alumno</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Está seguro que desea editar el alumno?
                                        </div>
                                        <div class="modal-footer">
                                            <a type="button" class="btn btn-secondary"
                                               data-dismiss="modal">No</a>
                                            <button type="submit" class="btn btn-primary">Sí</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                        <div class="card-footer">
                            <button class="btn badge-primary" id="guardar" name="guardar" data-toggle="modal"
                                    disabled
                                    data-target="#editarAlumno">Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <input type="hidden" id="valorTabla" name="valorTabla" value="{{listaFormateada}}">
                    <table id="table" data-toggle="table" data-toolbar="#toolbar" data-click-to-select="true"
                           data-search="true"
                           data-advanced-search="true" data-filter-control="true" name="table">
                        <thead>
                        <tr>
                            <th data-field="no_unidad" data-sorteable="false" class="column">No.</th>
                            <th data-field="nombre" data-sorteable="false" class="column">Nombre</th>
                            <th data-field="califinal" class="column">Calif. Final</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <!--Modal para desasociar un alumno de un grupo-->
            <form action="/alumnos/eliminar-alumno/{{idgrupo}}/{{alumno.dataValues.id}}?_method=DELETE"
                  method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <div class="modal fade" id="eliminarAlumno" tabindex="-1" aria-labelledby="eliminarAlumno"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="eliminarAlumnoLabel">Eliminar Alumno</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ¿Está seguro que desea eliminar el alumno? Se eliminara permanentemente.
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
                                <button type=submit" class="btn btn-danger">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        {{else}}
            <div class="jumbotron jumbotron-fluid">
                <div class="container text-center">
                    <p class="lead">
                    <h2>Seleccione un alumno para mostrar más información.</h2>
                    </p>
                </div>
            </div>
        {{/if}}

    </div>
</main>

<script>
    document.getElementById('switchEditar').onclick = function () {
        if ($(this).is(':checked')) {
            document.getElementById('nombre').disabled = false;
            document.getElementById('correo').disabled = false;
            document.getElementById('clave').disabled = false;
            document.getElementById('guardar').disabled = false;
        } else {
            document.getElementById('nombre').disabled = true;
            document.getElementById('correo').disabled = true;
            document.getElementById('clave').disabled = true;
            document.getElementById('guardar').disabled = true;
        }
    }

</script>

<script src="/js/llenar-tabla-helper.js"></script>