<title>{{asignatura}} {{clave}} - Calificación - Seguimiento de Estudiantes</title>
<div class="row-cols-1 p-2">
    <h2 class="display-5">Calificaciones</h2>
</div>

<div class="row flex-grow-1 flex-shrink-0">
    <nav id="sideBar" class="col-md-3 col-lg-2 d-md-block sidebar navbar-nav-scroll">
        <div class="sidebar-sticky ">
            <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                Temas</h4>
            <ul class="nav flex-column">
                {{#each temas}}
                    <li class="nav-item"><a class="nav-link"
                                            href="/grupo/calificaciones/{{../idgrupo}}/{{dataValues.id}}"><i
                            class="bi-book-half"></i><strong> {{dataValues.nombre}}</strong></a></li>
                {{/each}}
            </ul>
        </div>
    </nav>

    <!--col-md-9 ml-sm-auto col-lg-10 px-md-4-->
    <main class="col col-md col-xl col-sm col-lg" role="main">
        <div class="fixed-table-toolbar" id="toolbar">
            <h3>Tema: {{tema.dataValues.nombre}} {{#iflogico title '===' 1}} - Segunda Oportunidad {{/iflogico}}</h3>
        </div>
        <div class="row" >
            <div class="col bootstrap4 bootstrap-table fixed-table-container fixed-height ">
                <input type="hidden" id="valorTabla" name="valorTabla" value="{{listaFormateada}}">

                <table id="table" data-toggle="table" data-toolbar="#toolbar" data-click-to-select="true"
                       data-search="true"
                       data-advanced-search="true" data-filter-control="true"  name="table">
                    <thead>
                    <tr>
                        <th data-field="clave" data-sorteable="false" class="column">Clave</th>
                        <th data-field="nombre" data-sorteable="false" class="column">Nombre</th>

                        {{#each actividades}}
                            <th data-field="calificaciones.{{@index}}" class="column"><a href="/grupo/actividades/{{../idgrupo}}/{{../tema.dataValues.id}}/{{dataValues.id}}">{{dataValues.nombre}}
                                : {{dataValues.valor}}</a></th>
                        {{/each}}
                        <th data-field="califinal" class="column">Calif. Final</th>
                    </tr>
                    </thead>

                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
        <!-- Contenido de la vista -->

    </main>
</div>
<script src="/js/llenar-tabla-helper.js"></script>
