<title>{{asignatura}} {{clave}} - Calificación - Seguimiento de Estudiantes</title>
<div class="row container-fluid">
    <!-- Barra de navegación -->
    <ul class="nav nav-tabs sticky-top">
        <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/grupo-inicio/{{idgrupo}}"
               title="Muestra el progreso general del grupo.">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" title="Muestra la lista de alumnos que contiene el grupo."
               href="/grupo/alumnos/{{idgrupo}}"><i class="bi bi-people-fill"></i> Alumnos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" title="Muestra la lista de temas/unidades que contiene el grupo."
               href="/grupo/temas/{{idgrupo}}"><i class="bi bi-book-fill"></i> Temas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " title="Muestra la lista de actividades por grupo o por tema."
               href="/grupo/actividades/{{idgrupo}}"><i class="bi bi-bookmark-check-fill"></i>
                Actividades</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" title="Muestra las calificaciones almacenadas."
               href="/grupo/calificaciones/{{idgrupo}}"><i class="bi bi-file-spreadsheet-fill"></i>
                Calificaciones</a>
        </li>
    </ul>
</div>
<div class="row m-2 p-2 flex-grow-1 flex-shrink-0">
    <nav id="sideBar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar navbar-nav-scroll">
        <div class="sidebar-sticky ">
            <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                Temas</h4>
            <ul class="nav flex-column">
                {{#each temas}}
                    <li class="nav-item"><a class="nav-link"
                                            href="/grupo/calificaciones/{{../idgrupo}}/{{dataValues.id}}/0"><i
                            class="bi-book-half"></i><strong> {{dataValues.nombre}}</strong></a></li>
                {{/each}}
            </ul>
        </div>
    </nav>

    <!--col-md-9 ml-sm-auto col-lg-10 px-md-4-->
    <main class="col col-md col-xl col-sm col-lg" role="main">
        <div id="toolbar">
            <h3>Tema: {{tema.dataValues.nombre}}</h3>
        </div>
        <div class="row">
            <div class="col navbar-nav-scroll">
                <input type="hidden" id="valorTabla" name="valorTabla" value="{{listaFormateada}}">

                <table id="table" data-toggle="table" data-toolbar="#toolbar" data-click-to-select="true"
                       data-search="true"
                       data-advanced-search="true" data-filter-control="true" name="table">
                    <thead>
                    <tr>
                        <th data-field="clave" data-sorteable="false" class="column">Clave</th>
                        <th data-field="nombre" data-sorteable="false" class="column">Nombre</th>

                        {{#each actividades}}
                            <th data-field="calificaciones.{{@index}}" class="column">{{dataValues.nombre}}
                                : {{dataValues.valor}}</th>
                        {{/each}}
                        <th data-field="califinal" class="column">Calif. Final</th>
                    </tr>
                    </thead>

                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
        <!-- Contenido de la vista -->

    </main>
</div>
<script src="/js/llenar-tabla-helper.js"></script>
