<style>

    .montserrat .extra-bold .regular .medium {
        font-family: 'Montserrat'
    }

    .extra-bold {
        font-weight: 800;
        font-size: 0.83em;
    }

    .regular p th{
        font-weight: 400;
        font-size: 0.75em;
    }
    .medium p{
        font-weight: 500;
        font-size: 0.66em;
    }
    .extra-light p{
        font-weight: 200;
        font-size: 0.83em;
    }
    #page-container {
        position: relative;
        min-height: 90vh;
    }

    #content-wrap {
        padding-bottom: 30px; /* Footer height */
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    @media print {


        body{
            width: 21.59cm;
            height: 27.94cm;
            margin: 0.42cm 2cm 2cm 1.5cm;
        }
    }
</style>
<title>Generación de Reportes (Vista Previa) - Seguimiento de Estudiantes</title>
<main class="container" id="page-container">
    <div id="content-wrap">
        <header class="container d-print-" style="height: 5.7cm">
            <div class="row">
                <figure class="col-10">
                    <img style="width: 100%; height: auto;" src="/img/encabezado-left.png" alt="Encabezado">
                </figure>
                <figure class="col">
                    <img style="width: 100%; height: auto;" src="/img/encabezado-right.png" alt="Encabezado">
                </figure>
            </div>
            <div class="row flex-row-reverse">
                <p class="montserrat extra-bold">
                    Instituto Tecnológico Superior de Irapuato
                </p>
            </div>
            <div class="row flex-row-reverse medium">
                <p class="montserrat ">
                    Dirección General
                </p>
            </div>
        </header>
        <div class="container d-print-">
            <div class="row  flex-row-reverse regular">
                <p style="background-color: black; color: white;"> {{fecha}} </p>
                <p> Irapuato, Gto. </p>
            </div>

            <div class="row  extra-bold" style="text-transform: uppercase">
                {{coordinadorNombre}}<br>
                {{pronombre}} {{carrera}}<br>
                PRESENTE<br>
            </div>
            <div class="row  flex-row-reverse extra-bold">
                <p>Asunto: Reporte parcial</p>
            </div>
            <div class="row -align-justify regular">
                <p class="montserrat">{{mensaje}}</p>
            </div>
            <div class="row-cols-1 regular">
                <p class="montserrat">Índice de reprobación</p>
            </div>
            <div class="row-cols-1" style="font-family: 'Montserrat'; font-size: 10pt">
                <div class="col-auto navbar-nav-scroll">
                    <input type="hidden" id="valorTabla" name="valorTabla" value="{{listaFormateada}}">
                    <table id="table" data-toggle="table" data-click-to-select="true" name="table">
                        <thead>
                        <tr>
                            <th class="montserrat medium" data-field="clave" data-sorteable="true">Clave</th>
                            <th class="montserrat medium" data-field="asignatura" data-sorteable="true">Asignatura</th>
                            {{#each temas}}
                                <th class="montserrat medium" data-field="temas.{{@index}}" data-sorteable="true">U{{inc @index}}</th>
                            {{/each}}
                        </tr>
                        </thead>

                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row-cols-1 montserrat -paragraph mt-auto">
                <section class="extra-bold">
                    <br><br>
                    <p>_______________________________________</p>
                    <p>ATENTAMENTE</p>
                    <div class="extra-light">
                        <p>Excelencia en Educación Tecnológica</p>
                        <p>Espíritu de Excelencia en Desarrollo Tecnológico</p>
                    </div>
                </section>
                <section class="extra-bold">
                    <br><br>
                    <p>{{nombreDocente}}</p>
                    <p>Docente</p>
                </section>
                <section class="medium">
                    <br><br>
                    <p>cpp. Archivo</p>
                    <p>XXX/xxx</p>
                </section>
            </div>

            <div class="row-cols-1">
                Esto se trata de una vista previa, el reporte se distribuirá correctamente una vez que se de click en
                imprimir.
                <br>
                <button id='current' class="btn btn-primary no-print" onclick="print_current_page()">Imprimir</button>
                <a class="btn btn-secondary no-print" href="/filtro/1">Salir</a>
            </div>
        </div>
        <footer class="d-print- footer" style="height: 1.5cm; padding-top: 30px">
            <div class="row">
                <figure class="col-2">
                    <img src="/img/footer-left.png">
                </figure>
                <div class="col -paragraph montserrat">
                    Carr. Irapuato – Silao km 12.5 Colonia El Copal,
                    Irapuato, Guanajuato
                    C.P. 36821 Tels. 462 6967900 y 6067602
                    tecnm.mx | irapuato.tecnm.mx
                </div>

                <div>
                    <figure class="col flex-row-reverse">
                        <img src="/img/footer-right.png">
                    </figure>
                </div>
            </div>
        </footer>
    </div>
</main>


<script src="/js/llenar-tabla-helper.js" type="text/javascript"></script>

<script type="text/javascript">
    function print_current_page() {
        window.print();
    }
</script>
