<style>

    .montserrat .extra-bold .regular .medium {
        font-family: 'Montserrat'
    }

    .extra-bold {
        font-weight: 800;
        font-size: 13px;
    }

    .regular p {
        font-weight: 400;
        font-size: 12px;
    }
    .medium p{
        font-weight: 500;
        font-size: 10px;
    }
    .extra-light p{
        font-weight: 200;
        font-size: 10pt;
    }
    #page-container {
        position: relative;
        min-height: 90vh;
    }

    #content-wrap {
        padding-bottom: 2.5rem; /* Footer height */
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px
    }

    @media print {
        body{
            width: 21.59cm;
            height: 27.94cm;
            margin: 0.42cm 2cm 2cm 2.5cm;
        }
    }
</style>
<main class="container" id="page-container">
    <div id="content-wrap">
        <header class="container d-print-">
            <div class="row">
                <figure class="col-10">
                    <img style="width: 100%; height: auto;" src="/img/encabezado-left.png" alt="Encabezado">
                </figure>
                <figure class="col">
                    <img style="width: 120%; height: auto;" src="/img/encabezado-right.png" alt="Encabezado">
                </figure>
            </div>
            </figure>
        </header>
        <div class="container d-print-">
            <div class="row  flex-row-reverse regular">
                <p style="background-color: black; color: white;"> {{fecha}} </p>
                <p> Irapuato, Gto. </p>
            </div>

            <div class="row  extra-bold" style="text-transform: uppercase">
                {{coordinadorNombre}}<br>
                {{pronombre}} {{carrera}}<br>
                PRESENTE<br>
            </div>
            <div class="row  flex-row-reverse extra-bold">
                <p>Asunto: Reporte parcial</p>
            </div>
            <div class="row -align-justify regular">
                <p>{{mensaje}}</p>
            </div>
            <div class="row-cols-1  regular">
                <h5>Índice de reprobación</h5>
            </div>
            <div class="row-cols-1" style="font-family: 'Montserrat'; font-size: 10pt">
                <div class="col-auto navbar-nav-scroll">
                    <input type="hidden" id="valorTabla" name="valorTabla" value="{{listaFormateada}}">
                    <table id="table" data-toggle="table" data-click-to-select="true" name="table">
                        <thead>
                        <tr>
                            <th data-field="clave" data-sorteable="true">Clave</th>
                            <th data-field="asignatura" data-sorteable="true">Asignatura</th>
                            {{#each temas}}
                                <th data-field="temas.{{@index}}" data-sorteable="true">U{{@index}}</th>
                            {{/each}}
                        </tr>
                        </thead>

                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row-cols-1 montserrat">
                _______________________________________
                <section class="extra-bold">
                    <br><br>
                    <p>ATENTAMENTE</p>
                    <div class="extra-light">
                        <p>Excelencia en Educación Tecnológica</p>
                        <p>Espíritu de Excelencia en Desarrollo Tecnológico</p>
                    </div>
                </section>
                <section class="extra-bold">
                    <br><br>
                    <p>Nombre</p>
                    <p>Cargo</p>
                </section>
                <section class="medium">
                    <br><br>
                    <p>cpp. Archivo</p>
                    <p>XXX/xxx</p>
                </section>
            </div>

            <div class="row-cols-1">
                <button id='current' class="btn btn-primary no-print" onclick="print_current_page()">Imprimir</button>
                <a class="btn btn-secondary no-print" href="/">Salir</a>
            </div>
        </div>
        <footer class="d-print- footer">
            <div class="row">
                <figure class="col-2">
                    <img src="/img/footer-left.png" style="height: 40%; width: auto">
                </figure>
                <div class="col -paragraph montserrat">
                    Carr. Irapuato – Silao km 12.5 Colonia El Copal,
                    Irapuato, Guanajuato
                    C.P. 36821 Tels. 462 6967900 y 6067602
                    tecnm.mx | irapuato.tecnm.mx
                </div>

                <div>
                    <figure class="col flex-row-reverse" style="height: 105%; width: auto">
                        <img src="/img/footer-right.png">
                    </figure>
                </div>
            </div>
        </footer>
    </div>
</main>


<script src="/js/llenar-tabla-helper.js" type="text/javascript"></script>

<script type="text/javascript">
    function print_current_page() {
        window.print();
    }
</script>
