<title>{{asignatura}} {{clave}} - Inicio - Seguimiento de Estudiantes</title>
<div class="row-cols-1 m2"><h2 class="display-5">Seleccionar {{#if alumnos}}alumno{{/if}}{{#if equipos}}equipo{{/if}}</h2></div>
<div class="row flex-grow-1 flex-shrink-0">
    <nav id="sideBar" class="col-md-3 col-lg-2 d-md-block sidebar navbar-nav-scroll">
        <div class="sidebar-sticky">
            <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                Temas</h4>
            <ul class="nav flex-column">
                {{#each temas}}
                    <li class="nav-item"><a class="nav-link" {{#if ../alumnos}}href= "/grupo-inicio/alumnos/{{../idgrupo}}/{{dataValues.id}}"
                        {{else}}href="/grupo-inicio/equipos/{{../idgrupo}}/{{dataValues.id}}" {{/if}}><i
                            class="bi-book-half"></i><strong> {{dataValues.nombre}}</strong></a></li>
                {{/each}}
                <li class="nav-item"><a class="nav-link" href="/grupo-inicio/lista/alumnos/{{idgrupo}}"><i class="bi-book-half"></i><strong> Todos</strong></a></li>
            </ul>
        </div>
    </nav>

    <main class="col col-md col-xl col-sm col-lg">
        <div class="row">
            <div class="col">
                <h3>Tema: {{#if tema}}{{tema.dataValues.nombre}}{{else}}Todos{{/if}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="list-group list-group-flush border-bottom h-auto navbar-nav-scroll nav-fill">
                    {{#if alumnos}}
                        {{#each alumnos}}
                            <a type="button" class="list-group-item list-group-item-action" aria-current="true"
                                {{#if ../tema}}href="/grupo-inicio/alumno/{{../idgrupo}}/{{../tema.dataValues.id}}/{{dataValues.id}}"
                                {{else}}
                                            href="/grupo/vista-general/{{../idgrupo}}/{{dataValues.id}}"
                                {{/if}}>
                                <i class="bi-person-badge-fill"></i><strong>{{dataValues.clave}}</strong>
                                - {{dataValues.apellidos}} {{dataValues.nombre}}
                            </a>
                        {{/each}}
                    {{/if}}
                    {{#if equipos}}
                        {{#each equipos}}
                            <a class="list-group-item list-group-item-action button-sm"
                               href="/grupo-inicio/equipo/{{../idgrupo}}/{{../tema.dataValues.id}}/{{dataValues.id}}">{{dataValues.nombre}}</a>
                        {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>
    </main>
</div>