<div class="container p-2 bg-light">
    <!-- Barra de navegación -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/grupo-inicio/{{idgrupo}}">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/grupo/alumnos/{{idgrupo}}"><i class="bi bi-people-fill"></i> Alumnos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/grupo/temas/{{idgrupo}}"><i class="bi bi-book-fill"></i> Temas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/grupo/actividades/{{idgrupo}}"><i class="bi bi-bookmark-check-fill"></i>
                Actividades</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/grupo/calificaciones/{{idgrupo}}"><i class="bi bi-file-spreadsheet-fill"></i>
                Calificaciones</a>
        </li>
    </ul>
    <!-- Titulo de la vista -->
    <div class="row m-2 p-2">
        <h2 class="">Actividades</h2>
    </div>
    <div class="row m-2 p-2">
        <a class="btn btn-info m-1" href="/grupo/actividades/{{idgrupo}}"><i class="bi bi-book-half"></i> Todas</a>
    {{#each temas}}
        <a class="btn btn-info m-1" href="/grupo/actividades/{{../idgrupo}}/{{dataValues.id}}"><i class="bi bi-book-half"></i> {{dataValues.nombre}}</a>
    {{/each}}
    </div>

    <div class="row m-2 p-2">
        <div class="list-group">
            {{#each actividades}}
                <a class="list-group-item list-group-item-action" href="#"><i class="bi bi-bookmark-fill"></i> {{dataValues.nombre}}</a>
            {{else}}
                <a class="list-group-item list-group-item-action disabled">El tema no tiene actividades asignadas</a>
            {{/each}}
            <a class="list-group-item list-group-item-action" href="#"><i class="bi bi-bookmark-plus-fill"></i> Nueva Actividad</a>
        </div>
    </div>

    <!-- Contenido de la vista -->
</div>