<title>{{asignatura}} {{clave}} - Alumnos - Seguimiento de Estudiantes</title>

<div class="container-fluid p-2 bg-light h-100">
    <!-- Barra de navegación -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/grupo-inicio/{{idgrupo}}">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/grupo/alumnos/{{idgrupo}}"><i class="bi bi-people-fill"></i> Alumnos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/grupo/temas/{{idgrupo}}"><i class="bi bi-book-fill"></i> Temas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/grupo/actividades/{{idgrupo}}"><i class="bi bi-bookmark-check-fill"></i>
                Actividades</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/grupo/calificaciones/{{idgrupo}}"><i class="bi bi-file-spreadsheet-fill"></i>
                Calificaciones</a>
        </li>
    </ul>
    <!-- Titulo de la vista -->
    <div class="row m-2 p-2">
        <h2 class="">Lista de Alumnos</h2>
    </div>
    <!-- Contenido de la vista -->
    <div class="row m-2 p-0">
        <div class="col-5">
            <div class="container">
                <div class="list-group">
                    {{#each alumnos}}
                        <a type="button" class="list-group-item list-group-item-action" aria-current="true"
                           href="/grupo/alumnos/{{../idgrupo}}/{{dataValues.clave}}">
                            <i class="bi-person-badge-fill"></i><strong>{{dataValues.clave}}</strong>
                            - {{dataValues.apellidos}} {{dataValues.nombre}}
                        </a>
                    {{/each}}
                    <a type="button" class="list-group-item list-group-item-action align-items-center"
                       aria-current="true" href="/alumno/wizard-agregar-alumnos-manual/{{idgrupo}}/1">
                        <i class="bi bi-plus-circle-fill"></i> Nuevo Alumno
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container bg-white">
                {{#if alumno}}
                    <form>
                        <div class="card">
                            <div class="card-header">
                                <h4>Datos del Alumno</h4>
                            </div>
                            <div class="text-center">
                                <img src="/img/perfil.png" class="card-img-top rounded-circle" aling="center" style="height:10rem;width:10rem;" >
                            </div>

                            <div class="card-body">
                                <div class="row p-2 m-2">
                                        <div class="col">
                                            <label for="apellidos" class="form-label">Apellidos</label>
                                            <input type="text" class="form-control" name=apellidos" value="{{alumno.dataValues.apellidos}}">
                                        </div>
                                        <div class="col">
                                            <label for="nombre" class="form-label">Nombre</label>
                                            <input  type="text" class="form-control" name="nombre" id="nombre" value="{{alumno.dataValues.nombre}}">
                                        </div>
                                </div>
                                <div class="row p-2 m-2">
                                    <div class="col">
                                        <label for="clave" class="form-label">Clave</label>
                                        <input type="text" class="form-control" id="clave" name="clave" value="{{alumno.dataValues.clave}}">
                                    </div>
                                </div>
                                <div class="row p-2 m-2">
                                    <div class="col">
                                        <label for="correo" class="form-label">Correo</label>
                                        <input type="email" id="correo" name="correo" class="form-control"value="{{alumno.dataValues.correo}}">
                                    </div>
                                </div>
                                <div class="row p-2 m-2">
                                    <button class="btn badge-primary" type="submit" id="guardar">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                {{else}}
                    <h2>Seleccione un alumno para mostrar más información.</h2>
                {{/if}}
            </div>
        </div>
    </div>
    <script type="javascript">
        function goBack() {
            window.history.back();
        }
    </script>
</div>