<div class="container-fluid p-2 bg-light">
    <!-- Barra de navegaci칩n -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/grupo-inicio/{{idgrupo}}">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/grupo/alumnos/{{idgrupo}}"><i class="bi bi-people-fill"></i> Alumnos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/grupo/temas/{{idgrupo}}"><i class="bi bi-book-fill"></i> Temas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/grupo/actividades/{{idgrupo}}"><i class="bi bi-bookmark-check-fill"></i>
                Actividades</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/grupo/calificaciones/{{idgrupo}}"><i class="bi bi-file-spreadsheet-fill"></i>
                Calificaciones</a>
        </li>
    </ul>
    <!-- Titulo de la vista -->
    <div class="row m-2 p-2">
        <h2 class="">Actividades</h2>
    </div>
    <div class="row m-2 p-2">
        <a class="btn btn-info m-1" href="/grupo/actividades/{{idgrupo}}"><i class="bi bi-book-half"></i> Todas</a>
    {{#each temas}}
        <a class="btn btn-info m-1" href="/grupo/actividades/{{../idgrupo}}/{{dataValues.id}}"><i class="bi bi-book-half"></i> {{dataValues.nombre}}</a>
    {{/each}}
    </div>

    <div class="row m-2 p-2">
        <div class="col-5">
            <div class="list-group">
                {{#each actividades}}
                    <a class="list-group-item list-group-item-action" href="/grupo/actividades/{{../idgrupo}}/{{../idtema}}/{{dataValues.id}}"><i class="bi bi-bookmark-fill"></i> {{dataValues.nombre}}</a>
                {{else}}
                    <a class="list-group-item list-group-item-action disabled">El tema no tiene actividades asignadas</a>
                {{/each}}
                {{#iflogico idtema '!=' ''}}
                    <a class="list-group-item list-group-item-action" href="/actividad/nueva-actividad/{{idgrupo}}/{{idtema}}"><i class="bi bi-bookmark-plus-fill"></i> Nueva Actividad</a>
                {{else}}
                    <a class="list-group-item " data-toggle="popover" title="Informaci칩n" data-content="Seleccione un tema para agregar actividades."><i class="bi bi-bookmark-plus-fill"></i> Nueva Actividad</a>
                {{/iflogico}}
            </div>
        </div>
        <div class="col">
            <div class="container bg-white">
                {{#if actividad}}
                    <form>
                        <div class="card">
                            <div class="card-header">
                                <h4>Datos de la actividad</h4>
                            </div>
                            <div class="card-body">

                            </div>
                        </div>
                    </form>
                {{else}}
                    <h2>Seleccione una actividad para mostrar m치s informaci칩n.</h2>
                {{/if}}
            </div>
        </div>

    </div>
    <div class="row">
        <h3>{{idtema}}</h3>
    </div>

    <!-- Contenido de la vista -->
</div>