<title>{{asignatura}} {{clave}} - Inicio - Seguimiento de Estudiantes</title>
<div class="row-cols-1  m-2">
    <h2 class="display-5">Inicio</h2>
</div>
<div class="row flex-grow-1 flex-shrink-0 ">
    <nav id="sideBar" class="col-md-3 col-lg-2 d-md-block sidebar navbar-nav-scroll">
        <div class="sidebar-sticky">
            <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                Temas</h4>
            <ul class="nav flex-column">
                {{#each temas}}
                    <li class="nav-item"><a class="nav-link"
                                            href="/grupo-inicio/{{../idgrupo}}/{{dataValues.id}}"><i
                            class="bi-book-half"></i><strong> {{dataValues.nombre}}</strong></a></li>
                {{/each}}
                <li class="nav-item"><a class="nav-link" href="/grupo/vista-general/{{idgrupo}}"><i class="bi-book-half"></i><strong> Todos</strong></a></li>
            </ul>
        </div>
    </nav>

    <main class="col col-md col-xl col-sm col-lg">
        <div class="row">
            <div class="col">
                <h3>Tema: {{tema.dataValues.nombre}}{{title}}</h3>
            </div>
        </div>
        <div class="row-cols-1">
            <p>Primera oportunidad</p>
        </div>
        <div class="row">
            <div class="col-4 col-md-5 col-xl-3 col-sm-4 col-lg-3">

                <div class="card" style="width: 100%;height: 385px">
                    <input type="hidden" id="indiceReprobacionData" value="{{dataReprobacion}}">
                    <div class="card-body" style="overflow: hidden;">
                        <h5 class="card-title text-center">Indice de reprobación grupal</h5>
                        <div id="indiceReprobacion" style="width: 100%; height: 200px;"></div>
                        <div style="font-size: 0.9rem;" class="card-text">Alumnos Aprobados: {{aprobados}} <br> Alumnos no aprobados: {{reprobados}}</div>
                    </div>
                </div>
            </div>
            <div class="col col-md col-xl col-sm col-lg">
                <div class="card " style="width: 90%; height: 385px">
                    <input type="hidden" id="actividadesReprobacionData" value="{{dataReprobacionAct}}">
                    <div class="card-body">
                        <h5 class="card-title text-center">Rendimiento del grupo por {{#if title}}tema
                        {{else}}actividad{{/if}}</h5>
                        <div id="actividadesAprobacion" style="width: 100%; height: 250px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-cols-1 m-2">
            <p>Segunda oportunidad*</p>
        </div>
        <div class="row">
            <div class="col-4 col-md-5 col-xl-3 col-sm-4 col-lg-3">
                <div class="card" style="width: 100%;height: 385px">
                    <input type="hidden" id="indiceReprobacionDataS2" value="{{dataReprobacionS2}}">
                    <div class="card-body">
                        <h5 class="card-title text-center">Indice de reprobación grupal</h5>
                        <div id="indiceReprobacionS2" style="width: 100%; height: 200px;"></div>
                        <div  style="font-size: 0.9rem;" class="card-text">Alumnos Aprobados: {{aprobadosS2}} <br> Alumnos no aprobados: {{reprobadosS2}}</div>

                    </div>
                </div>
            </div>
            <div class="col col-md col-xl col-sm col-lg">
                <div class="card " style="width: 90%; height: 385px">
                    <input type="hidden" id="actividadesReprobacionDataS2" value="{{dataReprobacionActS2}}">
                    <div class="card-body">
                        <h5 class="card-title text-center">Rendimiento del grupo por {{#if title}}tema
                        {{else}}actividad{{/if}}</h5>
                        <div id="actividadesAprobacionS2" style="width: 100%; height: 250px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script>
    dataReprobacion = document.getElementById("indiceReprobacionData").value;
    dataReprobacionAct = document.getElementById("actividadesReprobacionData").value;
    dataReprobacionS2 = document.getElementById("indiceReprobacionDataS2").value;
    dataReprobacionActS2 = document.getElementById("actividadesReprobacionDataS2").value;

    new Morris.Donut({
        element: "indiceReprobacion",
        data: JSON.parse(dataReprobacion),

        formatter: function (y) {
            return y + "%"
        },
        resize: true,
        colors: ['#065CA3', '#757575']
    })

    new Morris.Bar({
        element: "actividadesAprobacion",
        data: JSON.parse(dataReprobacionAct),
        xkey:'label',
        ykeys:['a','b'],
        labels: ['Aprobados','No aprobados'],
        xLabelAngle: 15,
        resize: true,
        barColors: ['#757575', '#065CA3']
    })
    new Morris.Donut({
        element: "indiceReprobacionS2",
        data:JSON.parse(dataReprobacionS2),

        formatter: function (y) {
            return y + "%"
        },
        resize: true,
        colors: ['#4AA96C', '#757575']
    })

    new Morris.Bar({
        element: "actividadesAprobacionS2",
        data: JSON.parse(dataReprobacionActS2),
        xkey:'label',
        ykeys:['a','b'],
        labels: ['Aprobados','No aprobados'],
        xLabelAngle: 15,
        resize: true,
        barColors: ['#757575', '#4AA96C']
    })
</script>