<title>{{asignatura}} {{clave}} - Temas - Seguimiento de Estudiantes</title>

<div class="container-fluid p-2 bg-light">
    <!-- Barra de navegación -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/grupo-inicio/{{idgrupo}}">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/grupo/alumnos/{{idgrupo}}"><i class="bi bi-people-fill"></i> Alumnos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/grupo/temas/{{idgrupo}}"><i class="bi bi-book-fill"></i> Temas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/grupo/actividades/{{idgrupo}}"><i class="bi bi-bookmark-check-fill"></i>
                Actividades</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/grupo/calificaciones/{{idgrupo}}"><i class="bi bi-file-spreadsheet-fill"></i>
                Calificaciones</a>
        </li>
    </ul>
    <!-- Titulo de la vista -->
    <div class="row m-2 p-2">
        <h2>Temas</h2>
    </div>
    <!-- Contenido de la vista -->
    <div class="row m-2 p-2">
        <!-- Generación de un card por tema -->
        {{#each tema}}
            <div class="col-md-3 col-3 col-xl-3 col-lg-3 col-sm-3 p-1">
                <div class="card" style="height:14rem;">
                    <div class="card-header d-flex flex-row-reverse">
                        <a class="bi bi-trash-fill " align="right" href="#" data-toggle="modal"
                           data-target="#eliminarTemaModal"></a>
                        <a class="bi bi-pencil-square " align="right" href="#" data-toggle="modal"
                           data-target="#editarTemaModal"></a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{dataValues.numerotema}}. {{dataValues.nombre}}</h5>
                    </div>
                    <div class="card-footer">
                        <a href="/grupo/actividades/{{dataValues.idgrupo}}/{{dataValues.id}}" class="btn btn-primary">Actividades</a>
                    </div>
                </div>
            </div>
        <!--Modal de edición -->
        <form action="/tema/editar-tema/{{dataValues.idgrupo}}/{{dataValues.id}}?_method=PUT" method="POST" novalidate>
            <input type="hidden" name="_method" value="PUT">
            <div class="modal fade" id="editarTemaModal" tabindex="-1" aria-labelledby="editarTemaModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editarTemaModalLabel">Editar Tema</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Unidad:</label>
                                    <input type="number" min="1" class="form-control" id="unidad" name="unidad" value="{{dataValues.numerotema}}">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Nombre:</label>
                                    <input class="form-control" id="nombre" name="nombre" value="{{dataValues.nombre}}"></input>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</a>
                            <button type="submit" class="btn btn-primary" >Guardar</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
            <!--Modal de eliminación -->
            <div class="modal fade" id="eliminarTemaModal" tabindex="-1" aria-labelledby="eliminarTemaModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="eliminarTemaLabel">Eliminar tema</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ¿Está seguro que desea eliminar el tema? Se eliminará permanentemente junto con las actividades
                            relacionadas a él.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-danger">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- En caso de que no existan temas se despliega un card con un mensaje -->
        {{else}}
            <div class="col-md-3 col-3 col-xl-3 col-lg-3 col-sm-3 p-1">
                <div class="card" style="height:14rem;">
                    <div class="card-body">
                        <h5 class="card-title">No hay temas existentes en este grupo.</h5>
                        <p class="card-text">Agregue un tema.</p>
                    </div>
                </div>
            </div>
        {{/each}}

        <!-- Card fija para la creación de un grupo -->
        <div class="col-md-3 col-3 col-xl-3 col-lg-3 col-sm-3 p-1">
            <div class="card" style="height:14rem;">
                <div class="card-body justify-content-center align-center">
                    <div class="row justify-content-center align-items-center">
                        <h5 class="card-title">Agregar nuevo tema</h5>
                    </div>
                    <div class="row justify-content-md-center align-items-center">
                        <a class="btn btn-success rounded-circle" href="/tema/nuevo-tema/{{idgrupo}}">+</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modals -->

</div>